/* Init */

* {
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: lightgrey;
}

body {
    background-color: #0F0F14;
    scroll-behavior: smooth;
}

/* Header */

header {
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0F0F14;
}

.logo {
    width: 94px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
}

/* Section */

section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 100px 0px;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding: 0px 20px;
}

.col-1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 80px;
    align-items: center;
}

.col-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: center;
}

.bg-black {
    background-color: #000000;
    border-radius: 0 120px 0 0;
}

/* Palestine flag animation */

.svg-flag {
    width: 100%;
    height: auto;
}

@keyframes animateCircle1 {
    0% { r: 50px; }
    50% { r: 30px; }
    100% { r: 50px; }
}

@keyframes animateCircle2 {
    0% { r: 50px; }
    50% { r: 30px; }
    100% { r: 50px; }
}

@keyframes animateCircle3 {
    0% { r: 50px; }
    50% { r: 30px; }
    100% { r: 50px; }
}

.animate1 {
    animation: animateCircle1 3s ease-in-out infinite;
}
 
.animate2 {
    animation: animateCircle2 5s ease-in-out infinite;
}

.animate3 {
    animation: animateCircle3 8s ease-in-out infinite;
}

/* Text */

.p-huge {
    font-size: 130px;
    line-height: 1;
    font-weight: 700;
}

.p-medium {
    font-size: 30px;
    font-weight: 600;
}

.p-red {
    color: #ED2E38;
}

.p-green {
    color: #009639;
}

.lien {
    font-size: 20px;
    font-weight: 300;
    padding: 20px 0 0 0;
}

a {
    font-size: 20px;
    font-weight: 300;
}

h1 {
    color: #ffffff;
    font-size: 100px;
    line-height: 1;
    margin: 0 0 20px;
}

h2 {
    color: #ffffff;
    font-size: 70px;
    line-height: 1;
    margin: 0 0 20px;
}

/* Range */

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    margin: 20px 0 0;
}
  
/* Removes default focus */
input[type="range"]:focus {
    outline: none;
}
  
/* Chrome, Safari, Opera and Edge Chromium styles **/
/** slider track **/
input[type="range"]::-webkit-slider-runnable-track {
    background-color: #000000;
    border-radius: 100px;
    height: 28px;
}
  
/** slider thumb **/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /** Override default look **/
    appearance: none;
    margin-top: 0px; /** Centers thumb on the track **/
    background-color: #ED2E38;
    border-radius: 100px;
    height: 36px;
    width: 36px;
    transform: translateY(-4px);
}
  
/** Firefox styles **/
/** slider track **/
input[type="range"]::-moz-range-track {
    background-color: #000000;
    border-radius: 100px;
    height: 28px;
}
  
/** slider thumb **/
input[type="range"]::-moz-range-thumb {
    background-color: #ED2E38;
    border: none; /** Removes extra border that FF applies **/
    border-radius: 100px;
    height: 36px;
    width: 36px;
}

/** Canvas year map **/

#map-canvas {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/** Video **/

.video-container iframe {
    border-radius: 20px; 
}

/** Canvas Daily deaths **/

.canvas-container {
    width: 100%;
    overflow-x: scroll;
    background-color: #000000;
    border-radius: 20px;
    padding: 0 0 20px;
}

.canvas-container::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}
  
.canvas-container::-webkit-scrollbar-track {
    background: #0F0F14; /* color of the tracking area */
    border: 3px solid #000000;
    border-radius: 20px;
}
  
.canvas-container::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #000000; /* creates padding around scroll thumb */
}

/** Image full size **/

.fullsize-img {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    align-items: flex-end;
    justify-content: left;
    filter: grayscale(100%);
    transition: all 0.3s ease-in-out;
}

.fullsize-img:hover {
    filter: none;
}

.fullsize-img[fullsize-index="1"] {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../img/alone_man.jpg);
}

.fullsize-img[fullsize-index="2"] {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../img/gaza_war_city.jpg);
}

.fullsize-img[fullsize-index="3"] {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../img/family.jpg);
}

/** Section support **/

.help-section {
    padding: 20px;
    text-align: center;
    border-radius: 0 0 10px 0;
    margin: 20px 0;
}


.section-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.button-link {
    text-decoration: none;
}

.hover-button {
    background-color: #ED2E38;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.hover-button:hover {
    background-color: #ff565e;
}
